body {
  background-color: #111111;
  font-family: "Open Sans", arial, helvetica, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 1.5em;
  color: #cccccc;
}

canvas {
  border-color: #333333;
  border-style: solid;
  border-width: 2px;
}

body {
  width: 300px;
  margin: 0 auto;
  font-size: 1.2rem;
  font-family: sans-serif;
}

p {
  line-height: 1.4;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: #550055;
}

a:visited {
  color: #660066;
}

a:focus {
  border-bottom: 1px solid black;
  background: #BAE498;
}

a:hover {
  border-bottom: 1px solid;
  background: #550055;
}

a:active {
  background: #265301;
  color: #CDFEAA;
}
a#git-link:hover {
  border-color: #aa00aa;
  background-color: #555555;
}
.bar {
  display: flex;
  height: 100px;
}

.git-box {
}

.nav-bar {
  position: relative;
  top: 0%;
  left: 0%;
  height: 100%;
  margin: 0 0;
  padding: 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-item {
  background-color: gray;
  padding: 2px;
  margin: 1px;
  border-left: solid white 1px;
  border-right: solid white 1px;
}
.git-div {
  border-style: solid;
  border-width: 1px;
  margin: 2px;
  padding:1px;
}
.git-div-1 {
  height: 100px;
  border-color: red;
}
.git-div-1:hover {
  border-color: blue;
}
.git-div-2{
  height: 91%;
  border-color:orange;
}
.git-div-2:hover {
  border-color: green;
}
.git-div-3{
  height: 91%;
  border-color:green;
}
.git-div-3:hover {
  border-color: orange;
}
.git-div-4{
  height: 91%;
  border-color:blue;
}

.git-div-4:hover {
  border-color: red;
}
#git-link {
  display: block;
  background-color: #333333;
  width: 100px;
  height: 100px;
  margin: 2px;
  border: solid purple 1px;
}

#gear-eight {
  display: block;
  position: relative;
  top: 5%;
  left: 9%;
  width: 60%;
  transform-origin: center;
}
#gear-six {
  display: block;
  position: relative;
  top: 0%;
  left:54%;
  width: 35%;
  transform-origin: center;
}
